_site
.bundle
.DS_store
.idea
.jekyll-cache
.jekyll-metadata
.ruby-version
.sass-cache
.tweet-cache
.venv
assets/libs/
Gemfile.lock
node_modules/
vendor
about_me.md
__pycache__/
*.py[cod]
_cv/*.aux
_cv/*.bbl
_cv/*.bcf
_cv/*.blg
_cv/*.fdb_latexmk
_cv/*.fls
_cv/*.log
_cv/*.out
_cv/*.run.xml
_cv/*.synctex.gz
_cv/*.toc
_cv/*.xdv
